body {
    margin: 0;
    font-family: Helvetica Neue, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    max-height: 100%;
}

.burger {
    cursor: pointer;
}

.menu {
    position: absolute;
    z-index: 2;
    margin: 100px 0;
    width: 400px;
    height: calc(100vh + 205px);
    background: #fdfdfd;
    box-shadow: 10px 0 15px -4px rgb(0 0 0 / 14%);
}

.menu .nav-c {
    width: 250px;
    margin: 0 auto;
}

.menu .nav {
    display: flex;
    width: 100%;
    margin: 25px 0;
    padding: 50px 0;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

.menu .nav a {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
    color: black;
}

.logo {
    cursor: pointer;
}

.container-f {
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 600px) {
    .container-f * {
        font-size: 14px;
    }

    .container-f img {
        width: 40px;
        height: 40px;
    }
}

@media (max-width: 500px) {
    .container-f * {
        font-size: 12px;
    }
}

@media (max-width: 400px) {
    .container-f * {
        font-size: 10px;
    }

    .menu {
        width: 100%;
    }

}

@media (max-width: 350px) {
    .container-f * {
        font-size: 9px;
    }
}

.mrl {
    margin: 0 25px;
}

a, u {
    text-decoration: none;
}

p {
    margin: 0;
}

a {
    cursor: pointer;
    color: black;
}

p {
}

.container {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
}