main {
    width: 100%;
}

.app-b {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.app-b .text {
    max-width: 100%;
}

.app-b .slog {
    max-width: 100%;
}


.df {
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.app img {
    object-fit: cover;
    max-width: 650px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 0;
}

.df-app {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.df-app h1 {
    text-align: center;
    font-size: 2.8rem;
    max-width: 500px;
    margin: 100px 0;
}


.df-app-s {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

@media (max-width: 1300px) {
    .df-app-s {
        flex-direction: column;
    }

    .df-app h1 {
        margin-right: 0;
    }

    .app img {
        padding: 50px 0;
    }
}


@media (max-width: 600px) {
    .df-app h1 {
        font-size: 2rem;
    }
}

@media (max-width: 450px) {
    .df-app h1 {
        font-size: 1.5rem;
    }
}