main {
    width: 100%;
}

.app-b {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}
.app-b .text {
    max-width: 100%;
}

.app-b .slog {
    max-width: 100%;
}


.df {
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.app img {
    object-fit: cover;
    max-width: 1127px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 0;
}

.app {
    margin: 0 auto;
}

.df-app {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.df-app h1 {
    text-align: center;
    font-size: 1.5rem;
}