{% extends '_base.html' %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/_index.css' %}">
{% endblock style %}

{% block content %}
    <div class="cover-filter"></div>
    <div class="aps">
        <img src="{% static 'img/aps.png' %}" alt="">
    </div>
    <div class="df container">
        <div class="app container">
            <div class="mrl">
                <div class="df-app-s">
                    <div class="df-app">
                        <h1>Региональное молодёжное общественное движение правового просвещения <br>«За права молодёжи»
                        </h1>
                    </div>
                    <img src="{% static 'img/people_.png' %}" alt="Молодежь">
                </div>
            </div>
        </div>
    </div>
{% endblock content %}