{% extends '_base.html' %}
{% load static %}
{% block title %}Новости{% endblock title %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/_news.css' %}">
{% endblock style %}

{% block content %}
<div class="container">
    <div class="mrl">
        <div class="card_list">
            {% for i in news %}
            <a href="{% url 'new' i.pk %}">
                <div class="card">
                    <img src="{{ i.img.url }}" alt="">
                    <div class="card-c">
                        <div class="title">
                            {{ i.title }}
                        </div>
                        <div class="text">
                            {{ i.text }}
                        </div>
                        <div class="date">
                            {{ i.date }}
                        </div>
                    </div>
                </div>
            </a>

            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}